In [1]:
print("tuples")

tuples

In [2]:
# generate list of numbers 1 , 10 
num = 1 
newl = []
while num <=10:
    newl.append(num)
    num +=1 
print(newl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Range  
# new sequence datatype --> Range

In [3]:
myr = range(10)
print(myr)

range(0, 10)

# range is iterable

In [4]:
for num in myr:  # generate values in range start to stop-1 
    print(f"num = {num}")

num = 0
num = 1
num = 2
num = 3
num = 4
num = 5
num = 6
num = 7
num = 8
num = 9

In [5]:
r2 = range(0, 11) # --> 0 , 10 
nums_list=  list(r2)
print(nums_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
r2.count(2)

1

In [8]:
r2.step

1

In [9]:
newr222 = range(3,100, 3)
print(list(newr222))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

AttributeError: readonly attribute

In [ ]:
stop= input("please enter number : ")
if stop.isdigit():
    stop = int(stop)
    newrange=  range(0, stop)
    print(newrange)

In [13]:
rr = range(0, 5)
print(rr)  # range object --> iterable object 
for n in rr:
    print(f"n={n}")

range(0, 5)
n=0
n=1
n=2
n=3
n=4

range can be casted to a list

In [14]:
abbass = list(rr)  # rr is the range 
# convert rr from range datatype to list datatype 
print(abbass)   #name of the list 
# range is immutable datatype

[0, 1, 2, 3, 4]

# implement multiplication table using range

In [ ]:
while True:
    num = input("please enter number : ")
    if num.isdigit():
        num = int(num)
        
        
        break 
        
    print("----- please re-inter ")

In [21]:
num = input("please enter a number: ")
while not num.isdigit():
    num = input("please enter valid number: ")
    
num = int(num)
myrange = range(1, num+1)
table = []
# print(list(myrange))
for i in myrange:
    newl= []
    print(i)
    # i=1 then 1 , i=2 1,2 , i=2 1,2,3 , i=4, 1,2,3,4
    ### we need to populate the newl 
    newrange = range(1, i+1) 
    # print(list(newrange))
    for j in newrange:
        newl.append(j*i)
        
        
    table.append(newl)

print(table)

1
2
3
4
5
[[1], [2, 4], [3, 6, 9], [4, 8, 12, 16], [5, 10, 15, 20, 25]]

In [23]:
num = input("please enter a number: ")
table =[]
if num.isdigit():
    num = int(num)
    for i in range(1, num+1):  # 1 ===> 
        newl = []
        for j in range(1, i+1):
            newl.append(j*i)
        
        table.append(newl)

print(table)

[[1], [2, 4], [3, 6, 9], [4, 8, 12, 16], [5, 10, 15, 20, 25]]