In [1]:
print("Hello world")

Hello world

In [ ]:

name = "Abdelkader"
# get brief version of it ?? --> remove char [a,e,i,o,u]
# generate brief version --> new place --> to the chars
briefname= ""
for char in name:
    print(f"char = {char}")
    if not(char in 'aeiou'):
        briefname += char

print(briefname)

<h1 style='color:red'> Another option </h1>

In [7]:
counter = 0 
name = 'AbdelkadEr'
briefname= ""
name = name.lower()
while counter < len(name):
    if not (name[counter] in 'aeiou'):
        briefname += name[counter]
    
    counter += 1

print(briefname)

bdlkdr

<pre > 
    given this list of grades for some students 
    grades = [45, 78, 88, 34, 90, 67, 55, 39, 100, 62]
    write a program that calculates the min grade, max grade , total grades, average of the grades 
    for the given students 
</pre>

In [9]:
grades = [45, 78, 88, 34, 90, 67, 55, 39, 100, 62]

mingrade=grades[0]
maxgrade = grades[0]
total_sum=0
avg = 0 
for grade in grades:
    if grade > maxgrade :
        maxgrade = grade
    if grade < mingrade :
        mingrade = grade
    total_sum += grade

print(f"maxgrade = {maxgrade}")
print(f"mingrade = {mingrade}")
print(f"total_sum = {total_sum}")
avg= total_sum/len(grades)
print(f"avg = {avg}")

maxgrade = 100
mingrade = 34
total_sum = 658
avg = 65.8

In [10]:
# while loop
grades = [45, 78, 88, 34, 90, 67, 55, 39, 100, 62]

mingrade=grades[0]
maxgrade = grades[0]
total_sum=0
avg = 0 
count_of_elements=0 
while count_of_elements < len(grades):
    if grades[count_of_elements] > maxgrade :
        maxgrade = grades[count_of_elements]
    if grades[count_of_elements] < mingrade :
        mingrade = grades[count_of_elements]
    total_sum += grades[count_of_elements]
    count_of_elements+=1

print(f"maxgrade = {maxgrade}")
print(f"mingrade = {mingrade}")
print(f"total_sum = {total_sum}")
print(f"avg = {total_sum/len(grades)}")

maxgrade = 100
mingrade = 34
total_sum = 658
avg = 65.8

<h1 style = 'color:green'>Lists </h1>

In [11]:
l = ["Ahmed", "Mahmoud", "Abdelkader", 'hasnaa', 'ola', 'mostafa', 45, True , ['python', 'Houdini', 'maya', 'english']]

<pre> 
<span style='color:green'>Given the below list of students and their grades students = [
["Alice", 85, 90, 78],
["Bob", 72, 88, 91],
["Charlie", 90, 87, 85],
["Diana", 60, 65, 70]
] </span>
we need to 
<span style='color:red'> 1- calculate the average grades for each student then add it to the end of their list 
[["Alice", 85, 90, 78, 84.33], ["Bob", 72, 88, 91, 83.67], ["Charlie", 90, 87, 85, 87.33], ["Diana", 60, 65, 70, 65.00]] </span>
2- Get the top student? 
["Charlie", 90, 87, 85, 87.33]
3- sort the students by their average, desc .
[["Charlie", 90, 87, 85, 87.33], ["Alice", 85, 90, 78, 84.33], ["Bob", 72, 88, 91, 83.67], ["Diana", 60, 65, 70, 65.00]]
4- add the total grade , good , pass , very good , excellent 
[["Alice", 85, 90, 78, 84.33, "Very good"], ["Bob", 72, 88, 91, 83.67, "verygood"], ["Charlie", 90, 87, 85, 87.33, "Excellent"], ["Diana", 60, 65, 70, 65.00, "Good"]]
hint(pass >=60, good >=65, verygood >=75, Excellent >=85]
5- I need the average of the class ?
80.58
</pre>

# 1- - calculate the average grades for each student then add it to the end of their list

In [15]:
students_list=  [
    ["Alice", 85, 90, 78],  # average grade ? 
    ["Bob", 72, 88, 91],
    ["Charlie", 90, 87, 85],
    ["Diana", 60, 65, 70]]

for std in students_list:  # each std is a list ?
    # I need to calculate average of grade for each student ? 
    avg = 0
    no_of_courses = 0
    total_of_grades = 0
    for grade in std:
        if isinstance(grade, int) or isinstance(grade, float):
            total_of_grades += grade
            no_of_courses += 1
    else:
        avg = total_of_grades/no_of_courses
    std.append(avg)
    print(std)

['Alice', 85, 90, 78, 84.33333333333333]
['Bob', 72, 88, 91, 83.66666666666667]
['Charlie', 90, 87, 85, 87.33333333333333]
['Diana', 60, 65, 70, 65.0]

In [16]:
num1 = 10
num2 = 44.3234
print(num1 + num2)

54.3234

# point 2- Get the top student?

In [17]:
# who is the top student ? is the student with the max avg ?
print(students_list)

[['Alice', 85, 90, 78, 84.33333333333333], ['Bob', 72, 88, 91, 83.66666666666667], ['Charlie', 90, 87, 85, 87.33333333333333], ['Diana', 60, 65, 70, 65.0]]

In [21]:
# let that the top_student is the first student in the list ?
print(students_list)
top_student =students_list[0]
print(top_student)

for std in students_list:
    if std[-1] > top_student[-1]:
        top_student = std
        
print(f"top student is {top_student}")

[['Alice', 85, 90, 78, 84.33333333333333], ['Bob', 72, 88, 91, 83.66666666666667], ['Charlie', 90, 87, 85, 87.33333333333333], ['Diana', 60, 65, 70, 65.0]]
['Alice', 85, 90, 78, 84.33333333333333]
top student is ['Charlie', 90, 87, 85, 87.33333333333333]

#  3- sort the students by their average, desc .

In [22]:
print(students_list)

[['Alice', 85, 90, 78, 84.33333333333333], ['Bob', 72, 88, 91, 83.66666666666667], ['Charlie', 90, 87, 85, 87.33333333333333], ['Diana', 60, 65, 70, 65.0]]

In [35]:
sorted_students = []
# the higher average --> added to the first element of the list ??
# then 

sorted_students.append(students_list[0])
print(sorted_students)

[['Alice', 85, 90, 78, 84.33333333333333]]

In [36]:
for std in students_list[1:]:
    # print(std)
    if std[-1] > sorted_students[0][-1]:
        sorted_students.append(std)
    else:
        sorted_students.insert(0, std)
        

# print(sorted_students)
sorted_students.reverse()
print(sorted_students)

# sorted_students.sort(reverse=True)

[['Charlie', 90, 87, 85, 87.33333333333333], ['Alice', 85, 90, 78, 84.33333333333333], ['Bob', 72, 88, 91, 83.66666666666667], ['Diana', 60, 65, 70, 65.0]]

In [37]:
print(sorted_students)

[['Charlie', 90, 87, 85, 87.33333333333333], ['Alice', 85, 90, 78, 84.33333333333333], ['Bob', 72, 88, 91, 83.66666666666667], ['Diana', 60, 65, 70, 65.0]]

# add the total grade , good , pass , very good , excellent

In [38]:
print(students_list)

[['Alice', 85, 90, 78, 84.33333333333333], ['Bob', 72, 88, 91, 83.66666666666667], ['Charlie', 90, 87, 85, 87.33333333333333], ['Diana', 60, 65, 70, 65.0]]

In [39]:
for std in students_list:
    if std[-1] >= 85:
        std.append("Excellent")
    elif std[-1] >= 75:
        std.append("Very Good")
    elif std[-1] >= 65:
        std.append("Good")
    elif std[-1] >= 60:
        std.append("Pass")
    else:
        std.append("Fail")

print(students_list)

[['Alice', 85, 90, 78, 84.33333333333333, 'Very Good'], ['Bob', 72, 88, 91, 83.66666666666667, 'Very Good'], ['Charlie', 90, 87, 85, 87.33333333333333, 'Excellent'], ['Diana', 60, 65, 70, 65.0, 'Good']]

# 5- I need the average of the class ?

In [40]:
print(students_list)

[['Alice', 85, 90, 78, 84.33333333333333, 'Very Good'], ['Bob', 72, 88, 91, 83.66666666666667, 'Very Good'], ['Charlie', 90, 87, 85, 87.33333333333333, 'Excellent'], ['Diana', 60, 65, 70, 65.0, 'Good']]

In [41]:
total_class = 0
for s in students_list:
    total_class += s[-2]

avg_class = total_class/len(students_list)
print(avg_class)

80.08333333333333

# for else
# I use this block when I need some code to be executed after loop finishes its works

In [42]:
for i in range(5):
    print(i)
    
print(f'the loop is completed successfully ' )

0
1
2
3
4
after the loop

In [43]:
for i in range(5):
    if i ==3:
        break
    print(i)
    
    
print(f'the loop is completed successfully ' )

0
1
2
the loop is completed successfully

In [44]:
for i in range(5):
    if i ==3:
        continue
    print(i)
    
    
print(f'the loop is completed successfully ' )

0
1
2
4
the loop is completed successfully

In [45]:
# if you need an action to be executed if the loop was completed 
# you can put the action in the else block of for 

for j in range(5):
    print(j)
else:
    print("---- loop completed successfully ----")

0
1
2
3
4
---- loop completed successfully ----

In [47]:
for j in range(5):
    if j == 3:
        break
    print(j)
else:
    print("---- loop completed successfully ----")

0
1
2

# tuple recap

In [ ]:
# Given 
# data = (12, 45, 78, 23, 56, 89, 100, 34, 67, 90)
# 
# Do the following
# Extract the first three elements and last three elements into a new tuple.
# Calculate the sum of all elements in the tuple.
# Check if the number exists in the tuple.
# Convert the tuple into a list, add the number at the end, and convert it back to a tuple.
# Sort the tuple in ascending order and display the result.

In [48]:
data = (12, 45, 78, 23, 56, 89, 100, 34, 67, 90)
# extract first and last three 
first_three = data[:3]
print(first_three)

(12, 45, 78)

In [49]:
# last three
last_three = data[-3:]
print(last_three)

(34, 67, 90)

In [50]:
if len(data) >= 3:
    first_three = data[:3]
    last_three = data[-3:]
print(first_three)
print(last_three)

(12, 45, 78)
(34, 67, 90)

<h3> Calculate the sum of all elements in the tuple.</h3>

In [51]:
sumof_elements =0
for item in data:
    if isinstance(item, int) or isinstance(item, float):
        sumof_elements += item
print(f"sumof_elements = {sumof_elements}")

sumof_elements = 594

In [52]:
total=sum(data)  # accept iterable

<h3 >Check if the number exists in the tuple. <h3>

In [56]:
num= input("please enter the number: ")
if num.isdigit():
    num = int(num)
    if num in data:
        print("---- number found ")
    else:
        print("---- number not found ")
else:
    print("---- Not valid input ---- ")

---- Not valid input ----

<h3> Convert the tuple into a list, add the number at the end, and convert it back to a tuple.
</h3>

In [59]:
data = (12, 45, 78, 23, 56, 89, 100, 34, 67, 90)
newl = list(data)
num= input("please enter the number: ")
if num.isdigit():
    num = int(num)
    newl.append(num)
else:
    print("not valid input")
    
data = tuple(newl)
print(data)

(12, 45, 78, 23, 56, 89, 100, 34, 67, 90, 888)

<h3> Sort the tuple in ascending order and display the result. </h3>

In [60]:
# 1- convert to list then sort then back to tuple ?
# print(data)
# data = list(data)
# data.sort()
# data = tuple(data)
# print(data)

#### another try ?
sorted_tuple = []
for item in data:
    if len(sorted_tuple) == 0:
        sorted_tuple.append(item)
    else:
        if sorted_tuple[0] > item:
            sorted_tuple.insert(0, item)
        else:
            sorted_tuple.append(item)


print(sorted_tuple)

[12, 45, 78, 23, 56, 89, 100, 34, 67, 90, 888]