# define the tuple

In [2]:
t = ()
myt = tuple()
print(t, type(t))

() <class 'tuple'>

In [3]:
if t:
    print("found")
else:
    print("-- not found ")

-- not found

# tuple is sequence --> can hold different data from different datatypes

In [4]:
myt= ("Ahmed", True, 344.233, 4+5j , None , "iti", ['3dmodeling', "English", 'softskills'], 4234, ("Basel", 'Sayed', "Hasnaa", "Abanoub"), "day04")

In [5]:
# 1- get len 
print(len(myt))

10

In [6]:
print(myt)

('Ahmed', True, 344.233, (4+5j), None, 'iti', ['3dmodeling', 'English', 'softskills'], 4234, ('Basel', 'Sayed', 'Hasnaa', 'Abanoub'), 'day04')

In [7]:
# get count of element
print(myt.count("iti"))

1

In [8]:
# for loop --> tuple is iterable 
for item in myt:
    print(f"item = {item}")

item = Ahmed
item = True
item = 344.233
item = (4+5j)
item = None
item = iti
item = ['3dmodeling', 'English', 'softskills']
item = 4234
item = ('Basel', 'Sayed', 'Hasnaa', 'Abanoub')
item = day04

In [9]:
# get index of item ??
print(myt.index("iti")) # index of the first occurrence of the element

5

In [10]:
# print item, index

count= 0 
for item in myt:
    print(f"item = {item}, index= {count}")
    count += 1

item = Ahmed, index= 0
item = True, index= 1
item = 344.233, index= 2
item = (4+5j), index= 3
item = None, index= 4
item = iti, index= 5
item = ['3dmodeling', 'English', 'softskills'], index= 6
item = 4234, index= 7
item = ('Basel', 'Sayed', 'Hasnaa', 'Abanoub'), index= 8
item = day04, index= 9

# access element using index -->

In [11]:
print(myt[3])

(4+5j)

In [13]:
print(myt[8][2])

Hasnaa

In [14]:
#check if element exists or not 
print("noha" in myt)

False

In [15]:
if "noha" in myt:
    print("------ found ")
else:
    print("----- not found ")

----- not found

In [16]:
if "Hasnaa" in myt:
    print("--- found ")
else:
    print("-- not found ")

-- not found

In [18]:
if "Hasnaa" in myt:
    print("--- found ")
else:
    print("-- not found  in the tuple ")
    for item in myt:
        # print(item, type(item))
        if type(item) == tuple or type(item) == list:
            if "Hasnaa" in item:
                print(f"--- found in item {item}")

-- not found  in the tuple
--- found in item ('Basel', 'Sayed', 'Hasnaa', 'Abanoub')

In [19]:
### isinstance 
print(isinstance(myt, tuple))

True

In [20]:
print(isinstance(myt, list))

False

In [22]:
print(isinstance(myt, str))

False

In [ ]:
if "Hasnaa" in myt:
    print("--- found ")
else:
    print("-- not found  in the tuple ")
    for item in myt:
        # print(item, type(item))
        if isinstance(item, tuple) or isinstance(item, list):
            if "Hasnaa" in item:
                print(f"--- found in item {item}")

# tuple is immutable data type ===> cannot be changed after creation

# concat 2 tuples

In [23]:
t1= (2, "python", "iti")
t2= ("break", "breakfast", "pray", 214,"assignment",True )
t3=  t1 + t2  # tuple

print(t3)

(2, 'python', 'iti', 'break', 'breakfast', 'pray', 214, 'assignment', True)

In [24]:
t4= [t1 + t3]
print(t4)

[(2, 'python', 'iti', 2, 'python', 'iti', 'break', 'breakfast', 'pray', 214, 'assignment', True)]

In [26]:
t5= [t1 , t2]
print(t5)

[(2, 'python', 'iti'), ('break', 'breakfast', 'pray', 214, 'assignment', True)]

In [27]:
mm = ['wre', 'rwr'] + (423, 34245)
print(mm)

TypeError: can only concatenate list (not "tuple") to list

In [28]:
l = [34, 345,43434]
t = ('a', 'b', 'c')
l.extend(t) # iterable
print(l)

[34, 345, 43434, 'a', 'b', 'c']

In [29]:
tt = ("abc", 'ddd', "sldfj", 'jfdhsfj')
print(tt[::-1]) # return new table

('jfdhsfj', 'sldfj', 'ddd', 'abc')

# I need to define a constant represent intake=45_cgtd_iti

In [30]:
intake=("45_cgtd_iti")  # tuple of one item.
print(intake, type(intake))

45_cgtd_iti <class 'str'>

In [31]:
intake=tuple("45_cgtd_iti")  # tuple of one item.
print(intake, type(intake))

('4', '5', '_', 'c', 'g', 't', 'd', '_', 'i', 't', 'i') <class 'tuple'>

# tuple of one item

In [32]:
intake=("45_cgtd_iti",)  # tuple of one item.
print(intake, type(intake))

('45_cgtd_iti',) <class 'tuple'>

In [34]:
intake2 = ("cgtd_iti_45",)

NameError: name 'cgtd_iti_45' is not defined

In [40]:
# inntake = (45,)

inntake2 =tuple([45])
print(inntake2, type(inntake2))

(45,) <class 'tuple'>

In [41]:
num = 45

tt =  tuple(num)

TypeError: 'int' object is not iterable

In [42]:
num = 45

tt =  tuple([num])
print(tt, type(tt))

(45,) <class 'tuple'>

# forget the past

In [43]:
num = [45]
print(num, type(num))

[45] <class 'list'>

In [44]:
numt = tuple(num)
print(numt, type(numt))

(45,) <class 'tuple'>

In [45]:
ttt3 = tuple((4,5,6))
print(ttt3, type(ttt3))

(4, 5, 6) <class 'tuple'>

In [46]:
tttt4 = tuple([[4,5,6]])
print(tttt4, type(tttt4))

([4, 5, 6],) <class 'tuple'>

In [47]:
R = [34,55]
rt = tuple(R) # take content of the iterable 
print(rt, type(rt))

(34, 55) <class 'tuple'>

In [49]:
R2 = [34,55]
rt2 = tuple([R])
print(rt2, type(rt2))

([34, 55],) <class 'tuple'>

In [50]:
std = ("nardine <3", )
print(std, type(std))

('nardine <3',) <class 'tuple'>

In [51]:
mmm = tuple(['nardine <3'])
print(mmm)

('nardine <3',)

# casting

In [52]:
message = "we love python"
messaget = tuple(message) # convert content of message to tuple 
print(messaget, type(messaget))

('w', 'e', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n') <class 'tuple'>

In [53]:
stds = ["Hasnaa <3", "Ola <3", "Ezz"]
print(stds, type(stds))

['Hasnaa <3', 'Ola <3', 'Ezz'] <class 'list'>

In [54]:
stds_tuple = tuple(stds)
print(stds_tuple, type(stds_tuple))

('Hasnaa <3', 'Ola <3', 'Ezz') <class 'tuple'>

In [56]:
all_stds = '$$$$'.join(stds_tuple)
print(all_stds, type(all_stds))

Hasnaa <3$$$$Ola <3$$$$Ezz <class 'str'>

In [57]:
names = ("mahmoud", "mahmoud", "mahmoud")
new_names = "$$$".join(names)  # new  string 
print(new_names, type(new_names))

mahmoud$$$mahmoud$$$mahmoud <class 'str'>

In [58]:
message = "we.love.python"
res = message.split('.') # list 
res = tuple(res)
print(res)

('we', 'love', 'python')

In [59]:
message = "we.love.python"
res = tuple(message.split('.') )# list 
print(res)

('we', 'love', 'python')